<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>64 Stitches</title>
    <meta name="description" content="knitting pattern generation language" />
    <meta name="author" content="Mariko Kosaka" />


    <link href="test.css" rel="stylesheet">

    <style type="text/css">

    </style>
  </head>

  <body>
  <div id="main">
    
  </div>
  <canvas hidden></canvas>


  </div>
  {{> ga}}
  </body>
</html>
